<section aria-label="Notices" class="splide" id="notices-slider">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide flex-center">
                <fuse-card class="w-full min-w-xs sm:max-w-6xl aspect-[20/5] mx-6 relative">
                    <div class="relative w-1/2 md:w-4/6">
                        <img
                            alt="Card cover image"
                            class="h-full object-cover"
                            src="https://picsum.photos/1280/720?random={{4}}">
                        <div class="gradient-overlay to-r h-full w-1/2 absolute -right-px top-0"></div>
                    </div>
                    <div class="flex-1 px-4 py-4 -ml-16 z-10 flex flex-col justify-center text-right">
                        <h3 class="text-lg md:text-4xl font-bold leading-none md:leading-tight">CYBER EXCLUSIVO</h3>
                        <p class="text-xs md:text-md text-gray-600 line-clamp-2 pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                    </div>
                </fuse-card>
            </li>
            <li class="splide__slide flex-center">
                <fuse-card class="w-full min-w-xs sm:max-w-6xl aspect-[20/5] mx-6">
                    <div class="relative w-1/2 md:w-4/6">
                        <img
                            alt="Card cover image"
                            class="h-full object-cover"
                            src="https://picsum.photos/500/300?random={{3}}">
                        <div class="gradient-overlay to-r h-full w-1/2 absolute -right-px top-0"></div>
                    </div>
                    <div class="flex-1 px-4 py-4 -ml-16 z-10 flex flex-col justify-center text-right">
                        <h3 class="text-lg md:text-4xl font-bold leading-none md:leading-tight">MEJORES LUGARES PARA VISITAR</h3>
                        <p class="text-xs md:text-md text-gray-600 line-clamp-2 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos esse fugiat impedit labore quia quidem sed sunt voluptates voluptatum. Consequuntur dignissimos eos error excepturi facere laudantium officia qui sequi.</p>
                    </div>
                </fuse-card>
            </li>
            <li class="splide__slide flex-center">
                <fuse-card class="w-full min-w-xs sm:max-w-6xl aspect-[20/5] mx-6">
                    <div class="relative w-1/2 md:w-4/6">
                        <img
                            alt="Card cover image"
                            class="h-full object-cover"
                            src="https://picsum.photos/500/300?random={{2}}">
                        <div class="gradient-overlay to-r h-full w-1/2 absolute -right-px top-0"></div>
                    </div>
                    <div class="flex-1 px-4 py-4 -ml-16 z-10 flex flex-col justify-center text-right">
                        <h3 class="text-lg md:text-4xl font-bold leading-none md:leading-tight">NUEVO SERVICIO DE ENTREGA</h3>
                        <p class="text-xs md:text-md text-gray-600 line-clamp-2 pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                    </div>
                </fuse-card>
            </li>
        </ul>
    </div>
</section>
