<!-- Header -->
<div class="lg:hidden flex flex-0 items-center py-2 pl-4 pr-6 sm:py-4 md:pl-6 md:pr-8 border-b lg:border-b-0 bg-card dark:bg-transparent">
  <!-- Title & Actions -->
  <a
    [routerLink]="['..']"
    mat-icon-button>
    <mat-icon [svgIcon]="'heroicons_outline:arrow-small-left'"></mat-icon>
  </a>
  <h2 class="ml-2.5 text-md sm:text-xl font-medium tracking-tight truncate">
    {{news.headline}}
  </h2>
</div>

<!-- Main -->
<div
  cdkScrollable
  class="flex-auto overflow-y-auto">

  <div
    [innerHTML]="news.body"
    class="prose prose-sm max-w-3xl mx-auto sm:my-2 lg:mt-4 p-6 sm:p-10 sm:py-12 rounded-2xl shadow overflow-hidden bg-card"></div>

  <!--  &lt;!&ndash; Navigation - Desktop &ndash;&gt;-->
  <!--  <div class="z-10 sticky hidden lg:flex bottom-4 p-4">-->
  <!--    <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-primary">-->
  <!--      <button-->
  <!--        class="flex-0"-->
  <!--        mat-flat-button-->
  <!--        [color]="'primary'"-->
  <!--        (click)="goToPreviousStep()">-->
  <!--                            <span class="inline-flex items-center">-->
  <!--                                <mat-icon-->
  <!--                                  class="mr-2"-->
  <!--                                  [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>-->
  <!--                                <span class="mr-1">Prev</span>-->
  <!--                            </span>-->
  <!--      </button>-->
  <!--      <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">-->
  <!--        <span>{{currentStep + 1}}</span>-->
  <!--        <span class="mx-0.5 text-hint">/</span>-->
  <!--        <span>{{course.totalSteps}}</span>-->
  <!--      </div>-->
  <!--      <button-->
  <!--        class="flex-0"-->
  <!--        mat-flat-button-->
  <!--        [color]="'primary'"-->
  <!--        (click)="goToNextStep()">-->
  <!--                            <span class="inline-flex items-center">-->
  <!--                                <span class="ml-1">Next</span>-->
  <!--                                <mat-icon-->
  <!--                                  class="ml-2"-->
  <!--                                  [svgIcon]="'heroicons_outline:arrow-long-right'"></mat-icon>-->
  <!--                            </span>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->

</div>

<!-- Progress & Navigation - Mobile -->
<!--<div class="lg:hidden flex items-center p-4 border-t bg-card">-->
<!--  <button-->
<!--    mat-icon-button-->
<!--    (click)="matDrawer.toggle()">-->
<!--    <mat-icon [svgIcon]="'heroicons_outline:bars-4'"></mat-icon>-->
<!--  </button>-->
<!--  <div class="flex items-center justify-center ml-1 lg:ml-2 font-medium leading-5">-->
<!--    <span>{{currentStep + 1}}</span>-->
<!--    <span class="mx-0.5 text-hint">/</span>-->
<!--    <span>{{course.totalSteps}}</span>-->
<!--  </div>-->
<!--  <mat-progress-bar-->
<!--    class="flex-auto ml-6 rounded-full"-->
<!--    [value]="100 * (currentStep + 1) / course.totalSteps"></mat-progress-bar>-->
<!--  <button-->
<!--    class="ml-4"-->
<!--    mat-icon-button-->
<!--    (click)="goToPreviousStep()">-->
<!--    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>-->
<!--  </button>-->
<!--  <button-->
<!--    class="ml-0.5"-->
<!--    mat-icon-button-->
<!--    (click)="goToNextStep()">-->
<!--    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-right'"></mat-icon>-->
<!--  </button>-->
