<div *transloco="let t; read: 'news'" class="flex flex-col flex-auto min-w-0 min-h-full">

  <!-- Header -->
  <div
    [class.bg-card]="!news.portraitImage"
    [class.bg-overlay]="news.portraitImage?.fileUrl"
    [style.background-image]="news.portraitImage?.fileUrl? 'url(' + news.portraitImage.fileUrl + ')' : ''"
    class="bg-cover"
  >
    <div class="flex flex-auto flex-col md:flex-row justify-center w-full max-w-5xl mx-auto p-6 sm:p-8 relative z-10">
      <div class="flex-1 min-w-0">
        <!-- Breadcrumbs -->
        <div>
          <div class="hidden sm:flex flex-wrap items-center font-medium">
            <div>
              <a [routerLink]="'./..'" class="whitespace-nowrap text-primary-500">Noticias</a>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
              <mat-icon
                [svgIcon]="'heroicons_mini:chevron-right'"
                class="icon-size-5 text-secondary"></mat-icon>
              <span [innerHtml]="news.headline" class="ml-1 text-secondary"></span>
            </div>
          </div>
          <div class="flex sm:hidden">
            <a
              [routerLink]="'./..'"
              class="inline-flex items-center -ml-1.5 text-secondary font-medium">
              <mat-icon
                [svgIcon]="'heroicons_solid:chevron-left'"
                class="icon-size-5 text-secondary"></mat-icon>
              <span class="ml-1">Back</span>
            </a>
          </div>
        </div>
        <!-- Title -->
        <div class="mt-2">
          <h2 [innerHtml]="news.headline" class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10"></h2>
          <p [innerHtml]="news.abstract" class="mt-4 text-justify"></p>

          <mat-divider class="my-5"></mat-divider>
          <!-- Author and date -->
          <div class="flex flex-col md:flex-row items-start md:items-center gap-x-4 gap-y-2">
            <div class="flex-1 flex flex-row items-center gap-x-2">
              @if (news.createdBy?.avatar?.fileUrl) {
                <img
                  [src]="news.createdBy?.avatar?.fileUrl"
                  alt="Card cover image"
                  class="w-8 h-8 rounded-full object-cover">
              } @else {
                <div class="ring-bg-card flex h-8 w-8 flex-0 items-center justify-center rounded-full bg-gray-200 text-gray-500 font-medium">
                  {{ news.createdBy?.name.charAt(0) }}
                </div>
              }
              <strong [innerText]="news.createdBy.name"></strong>
            </div>
            <div class="flex-0 flex flex-row md:flex-row-reverse items-center gap-x-2">
              <mat-icon class="w-8 h-8 bg-primary rounded-full p-2 text-white" svgIcon="heroicons_outline:calendar"></mat-icon>
              <strong>{{ news.publishedAt | date: "dd MMMM',' yyyy ' | ' HH:mm" }}</strong>
            </div>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <div class="flex flex-col gap-5 shrink-0 justify-center sm:items-center mt-6 sm:mt-0 sm:ml-4">
        <button mat-stroked-button matTooltip="PENDING_NAME" matTooltipPosition="left">
          <mat-icon
            [svgIcon]="'heroicons_mini:pencil-square'"
            class="icon-size-4"></mat-icon>
          <span class="ml-2 sm:hidden">PENDING_ACTION *</span>
        </button>
        <button
          [color]="'primary'"
          class=""
          mat-flat-button
          matTooltip="PENDING_NAME"
          matTooltipPosition="left">
          <mat-icon
            [svgIcon]="'heroicons_mini:link'"
            class="icon-size-4"></mat-icon>
          <span class="ml-2 sm:hidden">PENDING_ACTION *</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="bg-card dark:bg-transparent flex flex-col justify-center w-full h-full max-w-xs sm:max-w-5xl mx-auto p-6 sm:p-8">
    <lightgallery #lightGallery [settings]="settings">
    </lightgallery>

    <swiper-container [config]="config" class="w-full mb-4" fmSwiper>
      @if (news.portraitImage?.fileUrl) {
        <swiper-slide>
          <img
            (click)="openGallery(0)"
            [src]="news.portraitImage.fileUrl"
            alt="Card cover image"
            class="object-contain max-h-90 max-w-3/4">
        </swiper-slide>
      }
      @for (image of news.images; track image.name) {
        <swiper-slide class="pb-6 self-center">
          <img
            (click)="openGallery(news.portraitImage?.fileUrl ? $index + 1 : $index)"
            [src]="image.fileUrl"
            alt="Card cover image"
            class="object-contain max-h-90 max-w-3/4">
          <!--              <div class="gradient-overlay default hover:opacity-0 transition-all"></div>-->
        </swiper-slide>
      }
    </swiper-container>
    <!-- Content -->
    <quill-view [content]="news.body" format="object"></quill-view>
  </div>

  <!--    Additional section -->
  <div class="flex flex-col justify-center w-full h-full sm:max-w-5xl mx-auto p-6 sm:p-8 mt-6">
    <h4 class="text-2xl font-bold mt-4">{{ t('single-news.published-by') }}:</h4>
    <fuse-card class="flex items-center w-full p-6 filter-info mt-2 gap-x-4">
      @if (news.createdBy?.avatar) {
        <img
          [src]="news.createdBy?.avatar?.fileUrl"
          alt="Card cover image"
          class="w-16 h-16 rounded-full">
      } @else {
        <div class="ring-bg-card flex h-16 w-16 flex-0 items-center justify-center rounded-full bg-gray-200 text-gray-500 font-medium">
          {{ news.createdBy?.name.charAt(0) }}
        </div>
      }
      <div class="flex flex-col">
        <div [innerText]="news.createdBy.name" class="text-2xl font-semibold leading-tight"></div>
      </div>
    </fuse-card>

    <!-- Comment section -->
    <h4 class="text-2xl font-bold mt-4">{{ t('single-news.comments') }}:</h4>
    <fuse-card class="flex flex-col max-h-192 w-full mt-2">
      <!-- User comment -->
      <div *ngIf="(userService.user$ | async) as user" class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
        <div class="flex items-start">
          @if (user?.avatar) {
            <img
              [src]="user?.avatar?.fileUrl"
              [title]="user?.name"
              alt="Card cover image"
              class="w-12 h-12 rounded-full mr-5">
          } @else {
            <div class="ring-bg-card flex h-12 w-12 flex-0 items-center justify-center rounded-full bg-gray-200 text-gray-500 font-medium mr-5">
              {{ user?.name.charAt(0) }}
            </div>
          }
          <mat-form-field
            [subscriptSizing]="'dynamic'"
            class="w-full">
                            <textarea
                              [placeholder]="t('single-news.write-comment')"
                              [rows]="3"
                              cdkTextareaAutosize
                              class="leading-normal my-2"
                              matInput></textarea>
          </mat-form-field>
        </div>
        <div class="flex items-center mt-3 ml-auto -mr-3">
          <button mat-icon-button>
            <mat-icon
              [svgIcon]="'heroicons_solid:sparkles'"
              class="icon-size-5"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon
              [svgIcon]="'heroicons_solid:face-smile'"
              class="icon-size-5"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon
              [svgIcon]="'heroicons_solid:photo'"
              class="icon-size-5"></mat-icon>
          </button>
        </div>
      </div>
      <hr class="border-b mx-4 sm:mx-8 my-0">
      <!-- Other comments -->
      <div class="overflow-y-auto">
        <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
          <!-- TODO: Use ngFor or @for to display each message -->
          <div class="flex items-start">
            <img
              alt="Card cover image"
              class="w-8 h-8 rounded-full mr-4"
              src="images/avatars/male-05.jpg">
            <div class="flex flex-col mt-0.5">
                                <span>
                                    <b>Rutherford Brannan</b> Oh, I’m in.. Let’s arrange a trip for the next weekend if you want!
                                </span>
              <div class="flex items-center text-sm text-secondary mt-2">
                <span class="mr-2 cursor-pointer hover:underline">Like</span>
                <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                <span class="mr-2 cursor-pointer hover:underline">Hide replies</span>
                <span class="mr-2">&bull;</span>
                <span>17 min</span>
              </div>
            </div>
          </div>
          <div class="flex items-start mt-8 ml-12">
            <img
              alt="Card cover image"
              class="w-8 h-8 rounded-full mr-4"
              src="images/avatars/female-01.jpg">
            <div class="flex flex-col mt-0.5">
                                <span>
                                    <b>Caroline Lundu</b> Yes!! Let's talk about it on lunch!
                                </span>
              <div class="flex items-center text-sm text-secondary mt-2">
                <span class="mr-2 cursor-pointer hover:underline">Like</span>
                <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                <span class="mr-2">&bull;</span>
                <span>15 min</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fuse-card>
  </div>
</div>
