<div class="flex flex-col relative overflow-hidden">
  <!-- header -->
  <a class="px-4 py-2 border-b border-gray-300 dark:border-gray-900 flex items-center justify-between shadow-none hover:shadow-lg transition-shadow duration-300 cursor-pointer">
    <h3 class="text-lg font-medium line-clamp-1">Sub category name</h3>
    <img alt="Sub category image" class="w-12 h-12 object-contain rounded-lg" src="https://via.placeholder.com/15/15"/>
  </a>

  <!-- body -->
  <div class="p-4">
    <!-- List of first 5 benefits -->
    <ul class="flex flex-col gap-2">
      <li class="transition-all duration-300 shadow-none hover:shadow-lg hover:bg-white/25 scale-95 hover:scale-100 rounded">
        <a class="flex items-center gap-2 line-clamp-2 p-1">
          <img alt="Benefit icon" class="w-6 h-6 object-contain" src="https://via.placeholder.com/15/15"/>
          <span>Benefit 1</span>
        </a>
      </li>
      <li class="transition-all duration-300 shadow-none hover:shadow-lg hover:bg-white/25 scale-95 hover:scale-100 rounded">
        <a class="flex items-center gap-2 line-clamp-2 p-1">
          <img alt="Benefit icon" class="w-6 h-6 object-contain" src="https://via.placeholder.com/15/15"/>
          <span>Benefit 1</span>
        </a>
      </li>
      <li class="transition-all duration-300 shadow-none hover:shadow-lg hover:bg-white/25 scale-95 hover:scale-100 rounded">
        <a class="flex items-center gap-2 line-clamp-2 p-1">
          <img alt="Benefit icon" class="w-6 h-6 object-contain" src="https://via.placeholder.com/15/15"/>
          <span>Benefit 1</span>
        </a>
      </li>
      <li class="transition-all duration-300 shadow-none hover:shadow-lg hover:bg-white/25 scale-95 hover:scale-100 rounded">
        <a class="flex items-center gap-2 line-clamp-2 p-1">
          <img alt="Benefit icon" class="w-6 h-6 object-contain" src="https://via.placeholder.com/15/15"/>
          <span>Benefit 1</span>
        </a>
      </li>
    </ul>
  </div>
</div>
