# global options
{
	admin off # theres no need for the admin api in railway's environment
	persist_config off # storage isn't persistent anyway
	auto_https off # railway handles https for us, this would cause issues if left enabled
	# runtime logs
	log {
		format json # set runtime log format to json mode
	}
	# server options
	servers {
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

# site block, listens on the $PORT environment variable, automatically assigned by railway
:{$PORT} {
	# access logs
	log {
		format json # set access log format to json mode
		output stdout
	}

	# Handle API requests
  handle /api/* {
    reverse_proxy wwt-auth:8080 {
      transport http {
          versions h1c
      }
    }
  }

  # Health check for Railway
  respond /health 200

  # Handle frontend requests
  handle {
    root * /srv
    encode gzip
    file_server
    try_files {path} /index.html
  }
}
