<div *transloco="let t; read: 'albums'" class="flex flex-col min-w-0 w-full">
  <page-header
    [description]="t('description')"
    [subtitle]="t('subtitle')"
    [title]="t('title')"
  ></page-header>

  <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-5xl mx-auto p-6 sm:p-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-flow-row gap-8 mt-8 sm:mt-10">
      <fuse-card class="flex flex-col max-w-80 w-full filter-listing">
        <img
          alt="Card cover image"
          class="object-cover"
          src="https://picsum.photos/500/300?random=1">
        <div class="m-8 mb-4">
          <div class="flex justify-between">
            <div class="flex flex-col">
              <div class="text-secondary text-md">Tipo de album</div>
              <div class="text-xl font-semibold leading-tight mt-1">Nombre de album prueba</div>
              <!-- <div class="text-secondary text-md mt-1">1 E. Pumpkin Hill Drive</div>-->
            </div>
            <button
              class="-mt-2 -mr-2"
              mat-icon-button>
              <mat-icon
                [svgIcon]="'heroicons_solid:heart'"
                class="text-hint icon-size-5"></mat-icon>
            </button>
          </div>
          <hr class="border-b my-4">
          <div class="flex flex-wrap text-md">
            <span class="whitespace-nowrap"><b>10</b> beds</span>
            <span class="text-secondary mx-2">&bull;</span>
            <span class="whitespace-nowrap"><b>4</b> baths</span>
            <span class="text-secondary mx-2">&bull;</span>
            <span class="whitespace-nowrap"><b>21k</b> sqft.</span>
          </div>
          <hr class="border-b my-4">
          <div class="mt-3 -mx-3">
            <a
              [color]="'primary'"
              [routerLink]="['./']"
              class="px-3 mr-1"
              mat-button>
              Details
            </a>
            <a
              [color]="'primary'"
              [routerLink]="['./']"
              class="px-3"
              mat-button>
              See on map
            </a>
          </div>
        </div>
      </fuse-card>
    </div>
  </div>
</div>
