<div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-200 dark:bg-gray-800">
  <!-- Background -->
  <!-- Rings -->
  <svg class="absolute inset-0 pointer-events-none"
       height="100%" preserveAspectRatio="xMidYMax slice" viewBox="0 0 960 540" width="100%" xmlns="http://www.w3.org/2000/svg">
    <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
      <circle cx="196" cy="23" r="234"></circle>
      <circle cx="790" cy="491" r="234"></circle>
    </g>
  </svg>
  <!-- @formatter:on -->
  <div class="z-10 relative flex flex-col items-center">
    <h2 class="text-xl font-semibold">{{ title | uppercase }}</h2>
    <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
      {{ subtitle }}
    </div>
    <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
      {{ description }}
    </div>
  </div>
</div>
