<div class="event-card">
  <div class="timeline">
    <div [class.hidden]="first" class="line top bg-gray-500"></div>
    <div class="circle"></div>
    <div [class.hidden]="last" class="line bottom bg-gray-500"></div>
  </div>
  <div class="event-details">
    <div class="time">
      <span>{{ event.start | date: 'shortTime' }}</span>
      <span *ngIf="!event.allDay"> - {{ event.end | date: 'shortTime' }}</span>
      <span *ngIf="event.allDay"> - All Day</span>

      @if (!event.allDay) {
        <span class="text-hint ml-2">({{ duration }})</span>
      }
    </div>
    <div class="title">{{ event.title }}</div>
  </div>
</div>
