/* event-card.component.css */
.event-card {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #2e3b4e;
    color: white;
    border-bottom: 1px solid #1c2b3a;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #ff6f61;
    border-radius: 50%;
    z-index: 1;
}

.line {
    width: 2px;
    height: 42px;
    position: absolute;
}

.line.top {
    //top: 0;
    bottom: 50%;
}

.line.bottom {
    top: 50%;
    bottom: 0;
}

.line.hidden {
    visibility: hidden;
}

.event-details {
    padding-left: 10px;
    flex-grow: 1;
}

.time {
    font-weight: bold;
}

.title {
    margin-top: 5px;
}

.duration {
    margin-top: 5px;
    color: #888;
}
