<div *transloco="let t; read: 'admin.benefits.company.create'" class="flex flex-col min-w-0 w-full">
  <page-detail-header
    [breadcrumbs]="[ { label: ('admin.benefits.title' | transloco), url: '/admin/benefits' }, { label: ('admin.benefits.create.title' | transloco), url: undefined } ]"
    [subtitle]="t('description')"
    [title]="t('title')"
    class="shadow"
  ></page-detail-header>
  <!-- Content -->
  <div class="flex-auto flex flex-col w-full max-w-xs sm:max-w-5xl mx-auto py-6 gap-y-4 sm:px-4">
    <div class="flex-1 flex flex-col sm:flex-row">
      <!-- Form -->
      <div class="flex-auto md:flex flex-col md:items-center md:justify-start w-full sm:w-auto md:h-full md:w-1/2 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none md:pr-4">
        <form [formGroup]="form" class="w-full">
          <div class="flex flex-col w-full space-y-4">
            <div>
              <h2 [innerHtml]="t('field-groups.information')" class="text-lg font-medium"></h2>
              <span [innerHtml]="t('field-groups.information-description')" class="text-hint"></span>
            </div>

            <!-- Name -->
            <mat-form-field class="w-full fuse-mat-dense" subscriptSizing="dynamic">
              <mat-label [innerText]="t('fields.name')"></mat-label>
              <input [placeholder]="t('fields.name-placeholder')" formControlName="name" matInput/>
              @if (form.get('name').hasError('required')) {
                <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
              }
            </mat-form-field>

            <!-- Description -->
            <div class="flex flex-col">
              <mat-label class="font-medium text-default dark:text-white">{{ t('fields.description') }}*</mat-label>
              @defer {
                <quill-editor
                  class="mt-2"
                  [placeholder]="t('fields.description-placeholder')"
                  [modules]="quillModules"
                  format="json"
                  bounds="self"
                  formControlName="description"
                ></quill-editor>
                @if (form.get('description').hasError('required') && form.get('description').touched) {
                  <mat-error class="text-sm">{{ 'errors.form.required' | transloco }}</mat-error>
                }
              } @placeholder {
                <span>cargando editor...</span>
              }
            </div>

            <div class="w-full flex flex-col">
              <label class="mat-label" for="file-image">{{ t('fields.image') }}*</label>
              <span [innerText]="t('fields.image-hint')" class="mat-hint"></span>
              <input
                (change)="onFileChange($event)"
                accept=".jpeg,.jpg,.png"
                class="file-input"
                id="file-image"
                type="file"
              />
              <mat-hint class="mat-hint">JPEG / JPG / PNG</mat-hint>
            </div>
          </div>

          <!-- Actions -->
          <div class="flex flex-col sm:flex-row sm:items-center sm:justify-end space-y-4 md:space-y-0 md:space-x-4 mt-4">
            <!-- Reset -->
            <button
              (click)="form.reset()"
              type="reset"
              class="w-full md:w-30 shadow-none"
              color="default"
              mat-raised-button
            >
              {{ 'actions.reset' | transloco }}
            </button>

            <!-- Save -->
            <button
              (click)="submit()"
              class="w-full md:w-30"
              color="primary"
              mat-raised-button
            >
              {{ 'actions.save' | transloco }}
            </button>
          </div>
        </form>
      </div>

      <!-- Preview -->
      <div class="relative hidden md:flex flex-auto flex-row items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden dark:border-l">

      </div>
    </div>
  </div>
</div>
