<div class="-m-6 p-4 flex flex-auto flex-col md:w-160 md:min-w-160">
  <!-- Header -->
  <div class="flex-0 mb-4 flex items-center">
    <h2 class="text-lg font-medium tracking-tight leading-6 truncate flex-1">Detalle de actividad</h2>
    <button (click)="closeDialog()" class="flex-0" mat-icon-button>
      <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
    </button>
  </div>

  <!-- Content -->
  <div class="flex-1">
    <!-- OSM -->
    @if(neededMaps) {
    <div class="map-container"  
    #map>
    </div>

    }
  </div>

  <!-- Footer - Actions -->
  <div class="mt-4 flex items-center justify-end flex-0">
    <!-- Save -->
    <button (click)="closeDialog()" [color]="'accent'" mat-flat-button>Close</button>
  </div>
</div>
