<div class="-m-6 flex flex-auto flex-col md:w-160 md:min-w-160">
  <div class="m-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum excepturi harum illum suscipit? Consectetur consequuntur, dolores eligendi excepturi, exercitationem facilis harum necessitatibus neque nobis pariatur possimus ratione rem vel?</p>
    <!-- Actions -->
    <div class="mt-4 flex items-center justify-end">
      <!-- Save -->
      <button
        (click)="closeDialog()"
        [color]="'accent'"
        mat-flat-button
      >
        Close
      </button>
    </div>
  </div>
</div>
