<div *transloco="let t; read: 'benefits.benefit-detail'" class="flex flex-col flex-auto min-w-0 min-h-full">
  <!-- Header -->
  <div class="bg-card border-b">
    <div class="flex flex-wrap w-full h-full max-w-xs sm:max-w-5xl mx-auto p-6 sm:p-8">
      <!-- Breadcrumbs -->
      <div class="hidden sm:flex flex-wrap items-center font-medium basis-full">
        <div>
          <a [routerLink]="'./../..'" class="whitespace-nowrap text-primary-500">{{ 'benefits.title' | transloco }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon [svgIcon]="'heroicons_mini:chevron-right'" class="icon-size-5 text-secondary"></mat-icon>
          <span [innerHtml]="benefit.name" class="ml-1 text-secondary"></span>
        </div>
      </div>
      <div class="basis-1/2 p-4">
        @if (benefit.image) {
          <img [src]="benefit.image.fileUrl" alt="BannerImage" class="h-full w-full object-cover rounded-lg"/>
        }
      </div>
      <div class="basis-1/2 px-4">
        <div class="flex sm:hidden">
          <a [routerLink]="'./../..'" class="inline-flex items-center -ml-1.5 text-secondary font-medium">
            <mat-icon [svgIcon]="'heroicons_solid:chevron-left'" class="icon-size-5 text-secondary"></mat-icon>
            <span class="ml-1">Back</span>
          </a>
        </div>
        <!-- Company information -->
        <div class="flex flex-col mt-2">
          <img [src]="benefit.benefitCompany?.image?.fileUrl" alt="CompanyLogo" class="h-14 object-contain object-left rounded-full drop-shadow"/>
          <h2 [innerHtml]="benefit.benefitCompany?.name" class="text-md font-light"></h2>
        </div>
        <div class="mt-2">
          <h1 [innerHtml]="benefit.name" class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10"></h1>
          <p [innerHtml]="benefit.description | deltaToHtml" class="mt-4 text-justify"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center md:justify-start w-full h-full max-w-xs sm:max-w-5xl mx-auto p-6 sm:p-8">
  </div>
</div>
