<div *transloco="let t; read: 'admin.albums'" class="flex flex-col min-w-0 w-full">
  <page-header
    [description]="t('description')"
    [subtitle]="t('subtitle')"
    [title]="t('title')"
  ></page-header>
  <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-5xl mx-auto py-10">
    <!-- Title and new album button -->
    <div class="flex flex-row w-full">
      <!-- Title -->
      <h2 class="flex-1 font-bold text-gray-700 text-xl">{{ t('title') }}</h2>

      <!-- New album button -->
      <a
        class="flex-1 md:flex-0 font-bold py-2 px-4 rounded"
        color="primary"
        [matTooltip]="'admin.albums.new.title' | transloco"
        mat-icon-button
        (click)="openNewAlbumDialog()"
      >
        <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
      </a>

    </div>
    <albums-table
      (deleteAlbum)="deleteAlbum($event)"
      (editAlbum)="editAlbum($event)"
      (pageChange)="pageChange($event)"
      [albums]="albums$"
      [loading]="true"
      class="w-full max-w-full overflow-auto mt-4">
    </albums-table>
  </div>
</div>
