<div *transloco="let t; read: 'admin.events.new'" class="flex max-h-screen max-w-240 flex-col md:min-w-160 h-full">
  <!-- Header -->
  <div class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
    <div [innerText]="t('title')" class="text-lg font-medium"></div>
    <button (click)="discard()" mat-icon-button>
      <mat-icon [svgIcon]="'heroicons_outline:x-mark'" class="text-current"></mat-icon>
    </button>
  </div>

  <!-- Content -->
  <form [formGroup]="eventForm" class="flex-1 flex flex-col overflow-y-auto h-full">
    <mat-vertical-stepper #verticalStepper [linear]="true">
      <!-- Step 1: New Event -->
      <mat-step [formGroupName]="'step1'" [stepControl]="eventForm.get('step1')">
        <ng-template matStepLabel>{{ t("step1Title") }}</ng-template>
        <!-- Step 1: New Event Details -->
        <h2 class="text-lg font-medium">{{ t("step1Details") }}</h2>
        <mat-divider class="pb-4 mt-4"></mat-divider>
        <!-- Title -->

        <div class="flex flex-col gap-2 mt-2">
          <!-- Title of event -->
          <mat-form-field>
            <mat-label [innerText]="t('name')"></mat-label>
            <input formControlName="title" matInput />
          </mat-form-field>

          <!-- Description -->
          <mat-form-field>
            <mat-label [innerText]="t('description')"></mat-label>
            <textarea cdkTextareaAutosize formControlName="description" matInput></textarea>
          </mat-form-field>

          <!-- Start Date  -->
          <div class="flex flex-row gap-x-6">
            <mat-form-field class="flex-auto">
              <mat-label [innerText]="t('startDate')"></mat-label>
              <input [matDatepicker]="picker1" formControlName="startDate" matInput />
              <mat-datepicker-toggle [for]="picker1" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <!-- Time Picker -->
            <mat-form-field>
              <mat-label [innerText]="t('hour')"></mat-label>
              <input formControlName="startDateTime" matInput type="time" />
              <mat-icon matSuffix>schedule</mat-icon>
            </mat-form-field>
          </div>
          <!-- End Date -->
          @if (!eventForm.get('step1.isAllDay').value) {
          <div class="flex flex-row gap-x-6">
            <mat-form-field class="flex-auto">
              <mat-label [innerText]="t('endDate')"></mat-label>
              <input [matDatepicker]="picker2" formControlName="endDate" matInput />
              <mat-datepicker-toggle [for]="picker2" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <!-- Time Picker -->
            <mat-form-field>
              <mat-label [innerText]="t('hour')"></mat-label>
              <input formControlName="endDateTime" matInput type="time" />
              <mat-icon matSuffix>schedule</mat-icon>
            </mat-form-field>
          </div>

          }
        </div>

        <!-- Is All Day -->
        <mat-checkbox class="-ml-2 mb-3" formControlName="isAllDay">{{ t("isAllDay") }}</mat-checkbox>
        <div class="flex justify-end">
          <button color="primary" mat-flat-button matStepperNext [innerText]="t('next')"></button>
        </div>
      </mat-step>

      <!-- Step 2: Details Additional -->
      <mat-step [formGroupName]="'step2'" [stepControl]="eventForm.get('step2')">
        <ng-template matStepLabel>{{ t("step2Title") }}</ng-template>

        <!-- Step 2: Details -->
        <h2 class="text-lg font-medium">{{ t("step2Details") }}</h2>
        <mat-divider class="pb-4 mt-4"></mat-divider>
        <!-- Location -->
        <div class="flex flex-col gap-2 mt-2">
          <mat-form-field>
            <mat-label [innerText]="t('location')"></mat-label>
            <input formControlName="location" matInput />
          </mat-form-field>
          <!-- URL -->
          <div class="pb-4" formArrayName="url">
            @for (url of urlArray.controls; track trackByFn($index, url)) {
            <h2>URL de evento {{ $index + 1 }}</h2>
            <div [formGroupName]="$index" class="flex flex-col gap-2 pl-4 mt-2 border-l border-gray-400">
              <mat-form-field>
                <mat-label>{{ t("url.platform") }}</mat-label>
                <mat-select formControlName="platform" (selectionChange)="onPlatformSelected($index, $event)">
                  @for (platform of getAvailablePlatforms($index); track trackByFn($index, platform)) {
                  <mat-option [value]="platform">
                    {{ t("platforms." + platform) }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              @if (eventForm.value['step2'].url[$index]?.platform) {

              <mat-form-field>
                <mat-label>{{ t("url.label") }}</mat-label>
                <input formControlName="label" matInput />
              </mat-form-field>

              @if (eventForm.value['step2'].url[$index]?.platform === "maps") {
                <pre>{{eventForm.value['step2'].url[$index]?.latitude}}</pre>
                <pre>{{eventForm.value['step2'].url[$index]?.longitude}}</pre>
              @defer (on viewport) {
                <app-open-street-map
                (locationSelected)="onLocationSelected($index, $event)"
                [latitude]="eventForm.value['step2'].url[$index]?.latitude || -33.437862717498135"
                [longitude]="eventForm.value['step2'].url[$index]?.longitude || -70.65009359000236"
                [marker]="{ lat: eventForm.value['step2'].url[$index]?.latitude, lng: eventForm.value['step2'].url[$index]?.longitude }"
              >
              </app-open-street-map>
              } @placeholder {
                <div>cargando</div>
              }

              <mat-form-field>
                <mat-label [innerText]="t('url.latitude')"></mat-label>
                <input formControlName="latitude" matInput readonly />
              </mat-form-field>

              <mat-form-field>
                <mat-label [innerText]="t('url.longitude')"></mat-label>
                <input formControlName="longitude" matInput readonly />
              </mat-form-field>
              } @else {

              <mat-form-field>
                <mat-label>{{ t("url.url") }}</mat-label>
                <input formControlName="url" matInput />
              </mat-form-field>
              } }
              <button (click)="removeUrl($index)" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            }
            <button (click)="addUrl()" mat-stroked-button>
              <mat-icon>add</mat-icon>
              <span>{{ t("addUrl") }}</span>
            </button>
          </div>
          <!-- Image -->
          <mat-form-field>
            <mat-label [innerText]="t('image')"></mat-label>
            <input formControlName="image" matInput />
          </mat-form-field>
          <!-- Capacity -->
          <mat-form-field>
            <mat-label [innerText]="t('capacity')"></mat-label>
            <input formControlName="capacity" matInput type="number" />
          </mat-form-field>
        </div>
        <div class="flex justify-end">
          <button color="accent" mat-flat-button matStepperPrevious [innerText]="t('back')"></button>
          <button color="primary" mat-flat-button matStepperNext [innerText]="t('next')"></button>
        </div>
      </mat-step>

      <!-- Step 3: Organizer -->
      <mat-step [formGroupName]="'step3'" [stepControl]="eventForm.get('step3')">
        <ng-template matStepLabel> {{ t("step3Title") }} </ng-template>
        <!-- Step 3: Details -->
        <h2 class="text-lg font-medium">{{ t("step3Details") }}</h2>
        <mat-divider class="pb-4 mt-4"></mat-divider>
        <!-- Organizer Name -->
        <div class="flex flex-col px-4" formGroupName="organizer">
          <mat-form-field>
            <mat-label [innerText]="t('organizer.name')"></mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>
          <!-- Organizer Email -->
          <mat-form-field>
            <mat-label [innerText]="t('organizer.email')"></mat-label>
            <input formControlName="email" matInput type="email" />
          </mat-form-field>
          <!-- Organizer Phone -->
          <div formGroupName="phone">
            <mat-form-field class="w-100 flex-auto">
              <mat-label [innerText]="t('organizer.phone.countryCode')"></mat-label>
              <input [placeholder]="'Prefijo'" formControlName="number" matInput />
              <mat-select formControlName="countryCode" matPrefix>
                <mat-option value="+569">Chile +56 9</mat-option>
                <mat-option value="+1">US +1</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- Type -->
        <mat-form-field>
          <mat-label>{{ t("type") }}</mat-label>
          <mat-select formControlName="type">
            @for (type of eventTypeOptions; track trackByFn($index, type)) {
            <mat-option [value]="type">{{ t("eventTypes." + type) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <!-- Status -->
        <mat-form-field>
          <mat-label>{{ t("status") }}</mat-label>
          <mat-select formControlName="status">
            @for (status of eventStatusOptions; track trackByFn($index, status)) {
            <mat-option [value]="status">{{ t("eventStatuses." + status) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="flex justify-end">
          <button color="accent" mat-flat-button matStepperPrevious [innerText]="t('back')"></button>
          <button (click)="save()" [disabled]="eventForm.disabled || !eventForm.valid" class="w-full md:w-30" color="primary" mat-flat-button>
            <span>{{ t("save") }}</span>
            @if (eventForm.disabled) {
            <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
            }
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
