<div *transloco="let t; read: 'admin.news.categories.create'" class="flex flex-col min-w-0 w-full">
    <page-header
        [description]="t('subtitle')"
        [subtitle]="t('title')"
    ></page-header>
    <!-- Content -->
    <div class="flex flex-col justify-center w-full sm:max-w-5xl mx-auto py-6 gap-y-4 px-4">
        <form (ngSubmit)="submit()" [formGroup]="form" class="flex flex-col space-y-8">
            <!-- Emails -->
            <div class="space-y-4">
                <div class="">
                    <h2 class="font-semibold text-xl inline-flex items-center gap-x-2">
                        <mat-icon svgIcon="heroicons_solid:tag"></mat-icon>
                        {{ t('first-group.title') }}
                    </h2>
                    <p [innerText]="t('first-group.description')" class="text-hint"></p>
                </div>

                <div class="bg-card rounded p-4 md:p-6 pb-4 shadow w-full">
                    <div class="space-y-4">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label [innerText]="t('first-group.fields.name')"></mat-label>
                            <mat-icon [svgIcon]="'heroicons_solid:envelope'" class="hidden icon-size-5 sm:flex" matPrefix></mat-icon>
                            <input [placeholder]="t('first-group.fields.name-placeholder')" [spellcheck]="false" formControlName="name" matInput/>
                            @if (form.get('name').hasError('required')) {
                                <mat-error>
                                    <span class="flex items-center -mt-4 gap-x-1">
                                        <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="icon-size-5" color="warn"></mat-icon>
                                        {{ 'errors.form.required' | transloco }}
                                    </span>
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label [innerText]="t('first-group.fields.description')"></mat-label>
                            <mat-icon [svgIcon]="'heroicons_solid:pencil'" class="hidden icon-size-5 sm:flex" matPrefix></mat-icon>
                            <textarea [placeholder]="t('first-group.fields.description-placeholder')" [spellcheck]="false" cdkAutosizeMinRows="2" cdkTextareaAutosize formControlName="description" matInput></textarea>
                            @if (form.get('description').hasError('required')) {
                                <mat-error>
                                    <span class="flex items-center -mt-4 gap-x-1">
                                        <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="icon-size-5" color="warn"></mat-icon>
                                        {{ 'errors.form.required' | transloco }}
                                    </span>
                                </mat-error>
                            }
                            @if (form.get('description').hasError('minlength')) {
                                <mat-error>
                                    <span class="flex items-center -mt-4 gap-x-1">
                                        <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="icon-size-5" color="warn"></mat-icon>
                                        {{ 'errors.form.minlength' | transloco:{ min: 10 } }}
                                    </span>
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="flex flex-row justify-end items-center">
                        <button [disabled]="form.disabled || form.invalid || form.pending" color="primary" mat-flat-button type="submit">{{ 'actions.save-changes' | transloco }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
