// Must be wrapped in relative container, with overflow: auto, and max-width applying max-w-full of tailwind
:host {
    @apply max-w-full;
    display: block;
    position: relative;
    overflow: auto;
}
