<div *transloco="let t; read: 'admin.news.categories'" class="flex flex-col min-w-0 w-full">
    <page-header
        [description]="t('list.subtitle')"
        [subtitle]="t('list.title')">
    </page-header>

    <div class="flex flex-col justify-center w-full sm:max-w-5xl mx-auto py-6 px-4 space-y-4">
        <div class="">
            <h2 [innerText]="t('list.title')" class="font-semibold text-xl"></h2>
            <p [innerText]="t('list.description')" class="text-hint"></p>
        </div>

        <div class="bg-card flex flex-col shadow w-full rounded-lg overflow-hidden">
            <!-- Members list -->
            <div class="flex flex-col divide-y">
                @for (category of categories$ | async; track trackByFn($index, category)) {
                    <div class="flex flex-row items-center justify-between px-4 py-2 hover:bg-hover transition-all duration-300">
                        <span>{{ category.name }}</span>
                        <button
                            mat-icon-button
                            class="group"
                            [matTooltip]="'actions.delete' | transloco"
                            (click)="remove(category)"
                        >
                            <mat-icon svgIcon="heroicons_outline:trash" class="icon-size-5 text-secondary group-hover:text-red-400"></mat-icon>
                        </button>
                    </div>
                } @empty {
                    <p class="px-4 py-2 hover:bg-hover transition-all duration-300 text-center italic text-hint">{{ t('list.no-content') }}</p>
                }
            </div>
        </div>
    </div>
</div>



