<div *transloco="let t; read: 'scrumboard.boards.details'" [class.h-15]="!formVisible" class="mt-11 w-64 px-2 py-2.5">
    <div class="relative flex h-full w-full overflow-hidden rounded-xl bg-gray-200 dark:bg-gray-700"
    >
        <button
            (click)="toggleFormVisibility()"
            [ngClass]="{ 'pointer-events-none opacity-0': formVisible }"
            class="absolute inset-0 w-full justify-start rounded-xl bg-transparent px-3"
            disableRipple
            mat-button
        >
            <mat-icon [svgIcon]="'heroicons_outline:plus-circle'" class="icon-size-5"></mat-icon>
            <span class="text-secondary ml-2">{{ buttonTitle }}</span>
        </button>
        <form [formGroup]="form" [ngClass]="{ 'opacity-0': !formVisible }" class="flex w-full flex-col items-start p-3">
            <input
                #titleInput
                (keydown.enter)="save()"
                [autocomplete]="'off'"
                [formControlName]="'title'"
                [placeholder]="'Enter list title...'"
                class="w-full rounded-md border border-gray-300 bg-white px-3 py-2 leading-5 shadow-sm focus:border-primary dark:border-gray-500 dark:bg-black dark:bg-opacity-5 dark:focus:border-primary"
            />
            <div class="mt-2 flex items-center">
                <button
                    (click)="save()"
                    [color]="'primary'"
                    [type]="'button'"
                    [innerText]="t('add-a-list')"
                    class="h-8 min-h-8"
                    mat-flat-button
                >
                </button>
                <button
                    (click)="toggleFormVisibility()"
                    [type]="'button'"
                    class="ml-1 h-8 min-h-8 w-8"
                    mat-icon-button
                >
                    <mat-icon
                        [svgIcon]="'heroicons_solid:x-mark'"
                        class="icon-size-4"
                    ></mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>
