<div *transloco="let t; read: 'admin.benefits.company'" class="flex flex-col min-w-0 w-full">
  <page-header
    [description]="t('list.description')"
    [subtitle]="t('list.title')"
  ></page-header>
  <!-- Content -->
  <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-5xl mx-auto py-4 gap-y-4 sm:px-4">
    <wwt-table
      [data]="items$"
      [displayedColumns]="columns"
      [messageNoData]="t('list.no-content')"
      class="w-full"
    >
      <ng-container matColumnDef="name" matSort>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ t('list.table-columns.name') }}</th>
        <td *matCellDef="let benefit" mat-cell><span [title]="benefit.name" class="line-clamp-1">{{ benefit.name }}</span></td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell><span class="select-none">{{ t('list.table-columns.actions') }}</span></th>
        <td *matCellDef="let benefit" mat-cell>
          <div class="flex items-center gap-x-2">
            <button (click)="edit(benefit)" [matTooltip]="t('list.table-actions.edit')" class="group/button" mat-icon-button>
              <mat-icon class="transition-all duration-300 group-hover/button:text-primary" svgIcon="heroicons_outline:pencil"></mat-icon>
            </button>
            <button (click)="delete(benefit)" [matTooltip]="t('list.table-actions.delete')" class="group/button" mat-icon-button>
              <mat-icon class="transition-all duration-300 group-hover/button:text-warn" svgIcon="heroicons_outline:trash"></mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
    </wwt-table>

  </div>
</div>
