<div *transloco="let t; read: 'scrumboard.settings.board-information'" class="flex flex-col min-w-0 w-full">
    <!-- Content -->
    <div class="flex flex-col justify-center w-full sm:max-w-5xl mx-auto py-6 px-4 space-y-4">
        <div class="">
            <h2 [innerText]="t('form.title')" class="font-semibold text-xl"></h2>
            <p [innerText]="t('form.description')" class="text-hint"></p>
        </div>

        <form (ngSubmit)="submit()" [formGroup]="form" class="bg-card flex flex-col overflow-hidden rounded p-8 pb-4 shadow w-full">
            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label [innerText]="t('form.fields.name')"></mat-label>
                    <input formControlName="title" matInput/>
                </mat-form-field>

                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label [innerText]="t('form.fields.icon')"></mat-label>
                    <input formControlName="icon" matInput/>
                </mat-form-field>
            </div>

            <mat-form-field floatLabel="always">
                <mat-label [innerText]="t('form.fields.description')"></mat-label>
                <textarea cdkTextareaAutosize formControlName="description" matInput rows="2"></textarea>
            </mat-form-field>

            <div class="flex flex-row justify-end gap-4">
                <button [disabled]="form.disabled || form.invalid || form.pending || form.pristine" class="hidden md:inline-flex shrink-0" color="primary" mat-flat-button type="submit">
                    <span class="flex-center gap-x-1">
                        @if (form.disabled) {
                            <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
                        } @else {
                            <mat-icon class="icon-size-5" svgIcon="feather:save"></mat-icon> {{ 'actions.save-changes' | transloco }}
                        }
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
