<!-- Horizontal 4 column grid -->
<div *transloco="let t" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-2">
    @for (shortcut of shortcuts; track shortcut.id) {
        <a *ngIf="shortcut.useRouter" [routerLink]="shortcut.link">
            <ng-container *ngTemplateOutlet="shortcutContentTemplate"></ng-container>
        </a>
        <a *ngIf="!shortcut.useRouter" [href]="shortcut.link" target="_blank">
            <ng-container *ngTemplateOutlet="shortcutContentTemplate"></ng-container>
        </a>
        <ng-template #shortcutContentTemplate>
            <div class="relative border bg-hover hover:bg-card rounded-lg flex-center flex-col group/shortcut h-64 w-full py-4 px-8 space-y-4 overflow-hidden transition-all duration-300">
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 delay-150 group-hover/shortcut:delay-0 group-hover/shortcut:top-12 transition-all duration-300 ease-in-out
                            bg-gray-100 dark:bg-gray-900 group-hover/shortcut:bg-primary h-16 w-16 rounded-full flex-center flex-col shadow">
                    <mat-icon *ngIf="shortcut.svgIcon else materialIcon" [svgIcon]="shortcut.svgIcon" color="accent" class="text-primary group-hover/shortcut:text-gray-100 group-hover/shortcut:dark:text-gray-900 transition-all duration-300"></mat-icon>
                </div>
                <div class="pt-12 px-4 pb-4 text-center transition-all duration-300 ease-in-out opacity-0 group-hover/shortcut:opacity-100 delay-0 group-hover/shortcut:delay-150 flex-center flex-col">
                    <h3 class="text-lg font-semibold mb-2" [innerText]="t('home.shortcuts.apps.' + shortcut.id)"></h3>

                    @if ($first) {
                        <p class="text-sm text-secondary line-clamp-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. A ab at atque debitis dolorem eos.</p>
                    } @else if ($last) {
                        <p class="text-sm text-secondary line-clamp-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. A ab at atque debitis dolorem eos, impedit laboriosam magnam minus modi mollitia natus nobis...</p>
                    } @else {
                        <p class="text-sm text-secondary line-clamp-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    }
                </div>
                <ng-template #materialIcon>
                    <mat-icon class="mr-2">{{ shortcut.icon }}</mat-icon>
                </ng-template>
            </div>
        </ng-template>
    }
</div>
