<!-- Horizontal 4 column grid -->
<div *transloco="let t" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
  @for (shortcut of shortcuts; track shortcut.id) {
    <div>
      <a *ngIf="shortcut.useRouter" [routerLink]="shortcut.link" class="w-min rounded-lg flex flex-col items-center justify-center group mx-auto lg:mx-0">
        <ng-container *ngTemplateOutlet="shortcutContentTemplate"></ng-container>
      </a>
      <a *ngIf="!shortcut.useRouter" [href]="shortcut.link" class="w-min rounded-lg flex flex-col items-center justify-center group" target="_blank">
        <ng-container *ngTemplateOutlet="shortcutContentTemplate"></ng-container>
      </a>
    </div>
    <ng-template #shortcutContentTemplate>
      <div class="flex flex-col items-center justify-center relative min-w-48 min-h-48">
        <svg class="absolute inset-0 z-0 w-full h-full drop-shadow lg:group-hover:rotate-45 transition-all duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.5 183.16">
          <path class="fill-accent group-hover:fill-primary transition-all duration-300 hover:transform-path-custom" stroke-width="0px"
                d="M77.46.33c40.48-3.46,92.34,20.91,108.81,59.4,9.03,21.75,2.57,46.11-9.73,65.3-22.35,33.63-59.67,57.87-101.05,58.12-33.84.27-62.13-15.21-71.66-49.15C-10.74,81.32,16.81,6.65,77.26.35l.2-.02Z"/>
        </svg>
        <mat-icon *ngIf="shortcut.svgIcon else materialIcon" [svgIcon]="shortcut.svgIcon" color="accent" class="z-10 text-white lg:translate-y-4 group-hover:translate-y-0 lg:group-hover:scale-150 transition-all duration-300"></mat-icon>
        <span class="text-lg text-white font-medium text-nowrap z-10 px-8 lg:opacity-0 group-hover:opacity-100 transition-all duration-300 mt-1" [innerText]="t('home.shortcuts.apps.' + shortcut.id)"></span>
      </div>
          <ng-template #materialIcon>
            <mat-icon class="mr-2">{{ shortcut.icon }}</mat-icon>
          </ng-template>
    </ng-template>
  }
</div>
