<div *transloco="let t; read: 'user.settings.password-update'" class="flex flex-col min-w-0 w-full">
  <page-header
    [description]="t('subtitle')"
    [subtitle]="t('title')"
  ></page-header>
  <!-- Content -->
  <div class="flex flex-col justify-center w-full max-w-xs sm:max-w-5xl mx-auto py-6 gap-y-4 sm:px-4">
    <div class="flex flex-col space-y-4">
      <div class="bg-card rounded p-8 pb-4 shadow w-full">
        <form (ngSubmit)="submit()" [formGroup]="form" class="flex flex-col space-y-4">
          <div class="flex flex-col md:flex-row gap-x-4">
            <mat-form-field class="w-full" floatLabel="always">
              <mat-label [innerText]="t('fields.current-password')"></mat-label>
              <input #currentPasswordField formControlName="currentPassword" matInput type="password">
              <button (click)="currentPasswordField.type === 'password' ? (currentPasswordField.type = 'text') : (currentPasswordField.type = 'password')" mat-icon-button matSuffix type="button">
                @if (currentPasswordField.type === 'password') {
                  <mat-icon svgIcon="heroicons_solid:eye"></mat-icon>
                }
                @if (currentPasswordField.type !== 'password') {
                  <mat-icon svgIcon="heroicons_solid:eye-slash"></mat-icon>
                }
              </button>

              @if (form.get('currentPassword').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full" floatLabel="always">
              <mat-label [innerText]="t('fields.new-password')"></mat-label>
              <input #newPasswordField formControlName="newPassword" matInput type="password">
              <button (click)="newPasswordField.type === 'password' ? (newPasswordField.type = 'text') : (newPasswordField.type = 'password')" mat-icon-button matSuffix type="button">
                @if (newPasswordField.type === 'password') {
                  <mat-icon svgIcon="heroicons_solid:eye"></mat-icon>
                }
                @if (newPasswordField.type !== 'password') {
                  <mat-icon svgIcon="heroicons_solid:eye-slash"></mat-icon>
                }
              </button>

              @if (form.get('newPassword').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
              }
            </mat-form-field>

            <mat-form-field class="w-full" floatLabel="always">
              <mat-label [innerText]="t('fields.confirm-password')"></mat-label>
              <input #confirmPasswordField formControlName="confirmPassword" matInput type="password">
              <button (click)="confirmPasswordField.type === 'password' ? (confirmPasswordField.type = 'text') : (confirmPasswordField.type = 'password')" mat-icon-button matSuffix type="button">
                @if (confirmPasswordField.type === 'password') {
                  <mat-icon svgIcon="heroicons_solid:eye"></mat-icon>
                }
                @if (confirmPasswordField.type !== 'password') {
                  <mat-icon svgIcon="heroicons_solid:eye-slash"></mat-icon>
                }
              </button>

              @if (form.get('confirmPassword').hasError('required')) {
                <mat-error [innerText]="'errors.form.required' | transloco"></mat-error>
              }
              @if (form.get('confirmPassword').hasError('mustMatch')) {
                <mat-error [innerText]="'errors.form.password-must-match' | transloco"></mat-error>
              }
            </mat-form-field>
          </div>
          <button
            [disabled]="form.invalid || form.pending || form.disabled || !form.dirty"
            class="md:place-self-end"
            color="primary"
            mat-raised-button
            type="submit"
          >
            <span class="inline-flex items-center gap-x-4">
              {{ 'actions.save' | transloco }}
              @if (form.disabled) {
                <mat-spinner @slideInLeft @slideOutRight diameter="20" class="ml-2"></mat-spinner>
              }
              </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
