<mat-form-field *transloco="let t; read: 'selectors.benefit-category'" class="w-full fuse-mat-dense" subscriptSizing="dynamic">
    <mat-label>Categoría</mat-label>
    <input
        #categoryInput
        (input)="filter($event.target)"
        [formControl]="formControl"
        [matAutocomplete]="categoryAuto"
        [placeholder]="t('placeholder')"
        matInput
    />
    @if (loading) {
        <mat-spinner matSuffix diameter="20" class="mr-4"></mat-spinner>
    }
    @if (formControl.hasError('required')) {
        <mat-error>{{ 'errors.form.required' | transloco }}</mat-error>
    }
</mat-form-field>

<mat-autocomplete
    #categoryAuto="matAutocomplete"
    (optionSelected)="onCategoryChange($event.option.value)"
    [displayWith]="displayCategoryWithFn('label')"
    requireSelection="true"
>
    <mat-option *ngFor="let category of categoriesFiltered$ | async" [disabled]="$any(category).disabled" [value]="category">
        <span>{{ category.label }}</span>
    </mat-option>
</mat-autocomplete>
