<div class="relative flex-0 py-8 px-4 overflow-hidden bg-gray-200 dark:bg-gray-800">
    <!-- Background -->
    <bg-patterns></bg-patterns>
    <!-- @formatter:on -->
    <div class="z-10 relative flex flex-col items-center max-w-xs sm:max-w-5xl mx-auto">
        <h2 class="text-xl font-semibold">{{ title | uppercase }}</h2>
        <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
            {{ subtitle }}
        </div>
        <p class="max-w-2xl mt-6 sm:text-xl text-center tracking-tight text-secondary">
            {{ description }}
        </p>
    </div>
</div>
