<div *transloco="let t; read: 'admin.events'" class="flex flex-col min-w-0 w-full">
  <page-header
    [description]="t('description')"
    [subtitle]="t('subtitle')"
    [title]="t('title')"
  ></page-header>
  <!-- Content -->
  <div class="flex flex-col items-center justify-center w-full max-w-xs sm:max-w-5xl mx-auto py-10 gap-y-4">
    <div class="flex flex-row w-full">
      <!-- Title -->
      <h2 class="flex-1 font-bold text-secondary text-xl">{{ t('title') }}</h2>

      <!-- New event button -->
      <a
        class="flex-1 md:flex-0 font-bold py-2 px-4 rounded"
        color="primary"
        [matTooltip]="'admin.events.new.title' | transloco"
        mat-icon-button
        (click)="openNewEventDialog()"
      >
        <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
      </a>
    </div>

    <mat-divider class="w-full"></mat-divider>

    <events-table
      (deleteEvent)="deleteEvent($event)"
      (editEvent)="editEvent($event)"
      (pageChange)="pageChange($event)"
      [events]="events$"
      [loading]="true"
      class="w-full max-w-full overflow-auto">
    </events-table>
  </div>
</div>
