<a [routerLink]="['category', category.id]">
  <fuse-card class="group flex flex-col max-w-80 w-full h-full relative">
    <div class="relative flex-0">
      <img
        [src]="category.image?.fileUrl || 'https://picsum.photos/500/300?random=' + 1"
        alt="Card cover image"
        class="h-64 object-cover select-none">
      <div class="gradient-overlay"></div>
    </div>
    <div class="flex-1 px-4 py-6 -mt-8 z-10 flex flex-col">
      <h2 [title]="category.name" class="text-4xl font-extrabold leading-tight line-clamp-2">{{ category.name }}</h2>
      <p class="mt-4 text-secondary line-clamp-4">{{ category.description | deltaToHtml }}</p>
    </div>
  </fuse-card>
</a>
