@if (category$ | async; as category) {
  <div *transloco="let t; read: 'benefits.category-detail'" class="flex flex-col flex-auto min-w-0 min-h-full">

    <!-- Header -->
    <div class="bg-card shadow-md">
      <div class="flex flex-col md:flex-row w-full max-w-5xl mx-auto">
        <div class="w-full md:w-1/2 flex flex-col flex-0 p-6 sm:p-8 relative z-10 md:max-w-1/2">
          <!-- Breadcrumbs -->
          <div class="hidden sm:flex flex-wrap items-center font-medium">
            <div>
              <a [routerLink]="'./../..'" class="whitespace-nowrap text-primary-500">{{ 'benefits.title' | transloco }}</a>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
              <mat-icon
                [svgIcon]="'heroicons_mini:chevron-right'"
                class="icon-size-5 text-secondary"></mat-icon>
              <span [innerHtml]="category.name" class="ml-1 text-secondary"></span>
            </div>
          </div>
          <div class="flex sm:hidden">
            <a
              [routerLink]="'./../..'"
              class="inline-flex items-center -ml-1.5 text-secondary font-medium">
              <mat-icon
                [svgIcon]="'heroicons_solid:chevron-left'"
                class="icon-size-5 text-secondary"></mat-icon>
              <span class="ml-1">Back</span>
            </a>
          </div>
          <!-- Title -->
          <div class="mt-2">
            <h1 [innerHtml]="category.name" class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10"></h1>
            <p [innerHtml]="category.description | deltaToHtml" class="mt-4 text-justify"></p>
          </div>
        </div>
        <div class="w-full md:w-1/2 flex flex-col relative overflow-hidden md:pr-8">
          <img [src]="category.image?.fileUrl" alt="BannerImage" class="h-full md:h-64 w-full object-cover"/>
          <div class="bg-gradient-to-b md:bg-gradient-to-r dark:from-gray-800 to-white/0 absolute -inset-[1px] to-25%"></div>
          <div class="bg-gradient-to-t md:bg-none lg:bg-gradient-to-l dark:from-gray-900 dark:lg:from-gray-800 to-white/0 absolute -inset-[1px] to-25%"></div>
        </div>
      </div>
    </div>

    <!-- Benefits -->
    <div class="flex flex-col justify-center md:justify-start w-full h-full max-w-xs sm:max-w-5xl mx-auto p-6 sm:p-8">
      <benefit-categories-list [categoryId]="categoryId"></benefit-categories-list>
      <div class="flex flex-col w-full">
        <div class="grid-cols-1 sm:grid-cols-2 md:grid-cols-3 grid gap-8 py-8 justify-items-start">
          @if (benefits$ | async; as benefits) {
            @if (benefits.length) {
              @for (benefit of benefits; track benefit.id) {
                <a [routerLink]="['/apps/benefits/id', benefit.id]">
                  <benefit-card [benefit]="benefit" class="col-span-1"></benefit-card>
                </a>
              }
            } @else {
              <div class="col-span-3 flex flex-col flex-wrap items-center justify-center gap-2 w-full">
                <mat-icon [svgIcon]="'heroicons_outline:inbox'" class="w-12 h-12 first text-primary-500"></mat-icon>
                <div class="text-center">
                  <p class="text-lg font-semibold">{{ t('no-content') }}</p>
                  <p class="text-sm text-secondary">{{ t('no-content-description') }}</p>
                </div>
              </div>
            }
          } @else {
            <div class="flex flex-row flex-wrap justify-center gap-8">
              <mat-spinner class="w-12 h-12"></mat-spinner>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
