<!-- Button -->
@if (userService.assignedCompanies$ | async; as companies) {

  <!-- Language menu -->
  @if (companies.length > 1) {
    <button
      [matMenuTriggerFor]="companySelectorMenu"
      mat-button>
      <ng-container *ngTemplateOutlet="companyTemplateFull; context: {$implicit: authService.activeCompany}"></ng-container>
    </button>

    <mat-menu
      #companySelectorMenu="matMenu"
      [xPosition]="'before'">
      @for (company of companies; track company.id) {
        <button
          (click)="setActiveCompany(company.id)"
          [disabled]="company.id === authService.activeCompany?.id"
          mat-menu-item>
        <span class="flex items-center">
            <ng-container *ngTemplateOutlet="companyTemplate; context: {$implicit: company}"></ng-container>
            <span class="ml-3">{{ company.name }}</span>
        </span>
        </button>
      }
      @if ((userService.assignedCompanies$ | async).length === 0) {
        <button
          mat-menu-item
          disabled>
      <span class="flex items-center">
        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        <span class="ml-3">No companies</span>
      </span>
        </button>
      }
    </mat-menu>
  } @else {
    <ng-container *ngTemplateOutlet="companyTemplateFull; context: {$implicit: authService.activeCompany}"></ng-container>
  }
}

<ng-template
  #companyTemplateFull
  let-company>
    <span class="flex items-center">
      <span class="relative w-6 rounded-sm overflow-hidden">
        <span class="absolute inset-0 drop-shadow"></span>
        <img
          *ngIf="company?.logo?.fileUrl; else emptyLogo"
          [alt]="company"
          [src]="company.logo.fileUrl"
          class="w-full">

        <ng-template #emptyLogo>
          <mat-icon [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
        </ng-template>
      </span>
      <span class="hidden md:block ml-3">{{ company?.name || 'Sin compañía activa' }}</span>
    </span>
</ng-template>

<!-- Flag image template -->
<ng-template
  #companyTemplate
  let-company>
    <span class="relative w-6 rounded-sm overflow-hidden">
      <span class="absolute inset-0 drop-shadow"></span>
      <img
        *ngIf="company?.logo?.fileUrl; else emptyLogo"
        [alt]="company"
        [src]="company.logo.fileUrl"
        class="w-full">

      <ng-template #emptyLogo>
        <mat-icon [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
      </ng-template>
    </span>
</ng-template>
